.content {
    max-width: 120rem;
    margin: 5rem auto 5rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.6);
    border-radius: 5px;

    @include respond (tab-land) {
        max-width: none;
        margin: 0;
    }

}