/* COLORS */

$color-primary : #454a44;
$color-secondary : #7b928c;

$bgk-light-1 : #fbfbfb;
$bgk-light-2 : #e1e3e0;
$bgk-light-3 : #eff1ee;

$bgk-dark-3 : #dfe4de;
$bgk-dark-1 : #6e8783;
$bgk-dark-2 : #465f63;





/* FONTS */

$font-primary : 'Lato', sans-serif;

$default-font-size : 1.6rem;